html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}

body 
{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

:root 
{
    --white: #FFFFFF;
    --black: #111D15;
    --grey-1: #9D9D9D;
    --grey-2: #666666;
    --grey-3: #4D4D4D;
    --green: #36B864;
}

.container 
{
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}
/* =============================== Header ======================= */
.navigator
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.logo
{
    display: flex;
    align-items: center;
    gap: 0 8px;
}
.logo-span
{
    font-size: 25px;
    font-weight: 800;
    color: var(--green);
}
.logo-span span
{
    font-size: 25px;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 5px;
}
.logo_text
{
    font-size: 12px;
    color: var(--grey-3);
}
.list
{
    display: flex;
    gap: 0 30px;
}
.item
{
    color: var(--grey-3);
}
.btn
{
    font-weight: 500;
    border-radius: 6px;
    padding: 12px 32px;
    color: var(--white);
    background-color: var(--green);
}
/* ================================== Hero ================================= */
.section-services
{
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 675px;
    margin-bottom: 150px;
}
.services-block
{
    padding-top: 130px;
}
.services_text
{
    font-size: 20px;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 12px;
}
.services-title
{
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
    width: 610px;
    margin-bottom: 24px;
}
.services-text
{
    font-size: 18px;
    line-height: 2;
    color: var(--grey-2);
    width: 543px;
    margin-bottom: 40px;
}
.services-box
{
    display: flex;
    gap: 0 25px;
}
.services-btn
{
    font-weight: 600;
    border-radius: 6px;
    padding: 17px 32px;
    color: var(--white);
    background-color: var(--green);
}
.services_btn
{
    font-weight: 600;
    color: var(--black);
    border-radius: 6px;
    padding: 17px 32px;
    border: 1px solid var(--grey-2);
}
/* ================================ Service ========================== */
.cleaning-block
{
    margin-bottom: 70px;
}
.cleaning-service
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;
}
.cleaning-service::before
{
    content: '';
    position: absolute;
    width: 1170px;
    height: 1px;
    top: 145px;
    background-color: #83A790;
}
.cleaning-title
{
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    width: 536px;
}
.cleaning_title
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.cleaning_text
{
    line-height: 1.5;
    color: var(--grey-2);
    width: 433px;
}
.cleaning_block
{
    display: flex;
    gap: 0 30px;
}
.cleaning-box-img
{
    border-radius: 30px;
    margin-bottom: 16px;
}
.cleaning-box-title
{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: 16px;
}
.cleaning-box-text
{
    line-height: 1.5;
    color: var(--grey-2);
    width: 370px;
    margin-bottom: 24px;
}
.cleaning-box-btn
{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid var(--grey-2);
    border-radius: 6px;
}
.cleaning-box-btn:hover
{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}
/* ============================== Professional ============================ */
.section-professional
{
    padding-top: 100px;
}
.professional-title
{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--black);
}
.professional-text
{
    color: var(--grey-2);
    line-height: 2;
    width: 553px;
    margin-bottom: 60px;
}
.professional-block
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.professional-img
{
    width: 72px;
    margin-bottom: 24px;
}
.professional_title
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    white-space: nowrap;
}
.professional_text
{
    width: 240px;
    color: var(--grey-2);
    margin-bottom: 25px;
}
.professional-btn
{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: 1px solid var(--grey-2);
    border-radius: 6px;
}
.professional-btn:hover
{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}
/* ============================= Prices ========================== */
.section-prices
{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 75px;
    padding-top: 130px;
    width: 100%;
    height: 670px;
    margin-bottom: 350px;
}
.prices-title
{
    font-size: 44px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    width: 550px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.prices-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;

}
.prices-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 30px 35px;
    border-radius: 20px;
}
.prices_title
{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: center;
}
.prices-sapn
{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    width: 280px;
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--green);
    margin-bottom: 36px;
    gap: 0 15px;
}
.prices-list
{
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    color: var(--grey-2);
    width: 300px;
    margin-bottom: 36px;
}
.prices-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border: 1px solid var(--grey-2);
    border-radius: 6px;
    width: 300px;
}
.prices-btn:hover
{
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
}
/* ================================ Contact ====================== */
.section-contact
{
    padding-top: 100px;
}
.contact-inner
{
   
}
.contact-title
{
    font-size: 40px;
    font-weight: 500;
    width: 570px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    color: var(--black);
}
.contact-text
{
    color: var(--grey-2);
    width: 530px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
}
.contact-block
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contact-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts
{
    margin-bottom: 20px;
}
.contact-img
{
    width: 40px;
}
.contact_title
{
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.contact_text
{
    line-height: 1.2;
    color: var(--grey-2);
    width: 220px;
    text-align: center;
    margin-bottom: 31px;
}